@import "tailwindcss";

*{
    transition: all 0.5s ease-in-out;
}

/* @theme {
  --breakpoint-*: initial;  initializes to reset default breakpoints with those listed below
  --breakpoint-sm: 320px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --color-twitter-blue: #1DA1F2;
  --color-orange-500: #ffa500;
} */

